.App {
  text-align: center;
  font-family: 'Titillium Web', 'Lato', sans-serif;
}

.nav-color {
  /* background: #dfe6e9; */
  /* background: #dcdde1 */
  background: url('./whirlpool.png');
  /* background: white */
}

.nav-link {
  padding: 1rem;
}

h1 {
  font-weight: bold;
}

ul {
  margin: auto;
  list-style: inside;
}

.pulse-chart{
  width: 100%;
}